<h1>Listing builds</h1>

<ul>
<% @builds.each do |build| %>
  <tr>
    <td><%= build.username %></td>
    <td><%= build.name %></td>
    <td><%= link_to 'Show', build %></td>
    <td><%= link_to 'Edit', edit_build_path(build) %></td>
    <td><%= link_to 'Destroy', build, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</ul>
