<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sebastian CI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'navbar' %>

  <% if notice %>
    <div class="alert alert-info">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-error">
      <a href="#" class="close" data-dismiss="alert">×</a>
      <strong>Error!</strong> <%= alert %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class='span3'>
          <%= render 'sidebar' %>
        </div>
        <div class='span9'>
          <%= yield %>
        </div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

  <%= javascript_include_tag "application" %>

  <% if Rails.env.production? %>
  <script type="text/javascript">
    var GoSquared = {};
    GoSquared.acct = "<%= ENV['GO_SQUARED'] %>";
    (function(w){
      function gs(){
        w._gstc_lt = +new Date;
        var d = document, g = d.createElement("script");
        g.type = "text/javascript";
        g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(g, s);
      }
      w.addEventListener ?
        w.addEventListener("load", gs, false) :
        w.attachEvent("onload", gs);
    })(window);
  </script>
  <% end %>
</body>
</html>
